.suggestion {
  margin-top: 0 !important;
  padding: 5px 0 5px 5px !important;
  height: 48px;
  &:hover {
    background-color: $white-ter;
    cursor: pointer;
  }
}

.suggestion-wrapper {
  position: relative;
}

.suggestions-list {
  position: absolute;
  width: 500px;
  z-index: 5;
  left: 0;
  bottom: 0;
}