.is-pointer {
  cursor: pointer;
}
.mention {
  border-radius: 2px;
  background-color: lighten($purple, 23%);
  color: $grey-dark;
  position: relative;
  &hover {
    color: $grey-dark;
  }
}

.mention__info {
  padding: 10px;
  position: absolute;
  width: 250px;
  height: 70px;
  top: -70px;
  left: 0;
}
