.is-common {
  color: #9e9e9e!important;
}

.is-free {
  color: #9e9e9e!important;
}
.is-rare {
  color: #3f51b5!important;
}

.is-epic {
  color: #9c27b0!important;
}

.is-legendary {
  color: #ff9800!important;
}

.editor-card {
  font-weight: bold;
}

.comment-editor {
  padding: 10px !important;
  margin-bottom: 10px !important;
}