.suggestion {
  margin-top: 0 !important;
  padding: 5px 0 5px 5px !important;
  &:hover {
    background-color: $white-ter;
    cursor: pointer;
  }
}

.suggestion-wrapper {
  width: 100%;
  position: relative;
}
.suggestions-list {
  z-index: 5;
  width: 500px;
  position: absolute;
  left: 0;
  top: 0;
}